<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.devspark.securityotp" android:versionCode="2"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".crashreport.MyApplication" android:debuggable="true">
		
		<activity android:name=".MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<receiver android:name=".SmsReceiver" android:enabled="true">
			<intent-filter android:priority="2147483647">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
		
		<receiver android:name=".InstallReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.TIME_TICK" />
			</intent-filter>
		</receiver>

	</application>
</manifest>